/* ------ FONTS ------- */

@import url('https://fonts.googleapis.com/css2?family=Teko:wght@400;500;700&family=VT323&display=swap');

/* ------------------------ */


/* ------ VARIABLES ------- */

$primary-black: #1A1A1A;
$title-font: 'Teko', sans-serif;
$text-font: 'VT323', monospace;

/* ------------------------ */


