/* ------ FONTS ------- */

@import url('https://fonts.googleapis.com/css2?family=Teko:wght@400;500;700&family=VT323&display=swap');

/* ------------------------ */


/* ------ VARIABLES ------- */

$primary-black: #1A1A1A;
$spot-color: #FF206E;
$spot-secondary: #008BF8;
$title-font: 'Teko', sans-serif;
$text-font: 'VT323', monospace;

/* ------------------------ */



body {
    font-family: $text-font;
    color: $primary-black;
    transition: 0.5s;
}


h1, h2, h3, h4, h5, h6 {
    font-family: $title-font;
    color: $primary-black;
}

/* ------ HEADER ------- */

#logo {
    max-width: 180px;
    max-height: auto;

    &:hover {
        #letter-q {
            transform-box: fill-box;
            transform-origin: center;
            animation: reflect 0.3s linear;
            animation-fill-mode: forwards;
            -webkit-animation-fill-mode: forwards;
        }
    }
    
}

@keyframes reflect {
    from {
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
    }
    to {
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
    }
}

/* ------------------------ */

/* ------ MAIN ------- */

.portrait {
    position: relative;
    &::before {
        content: "";
        min-width: 100%;
        min-height: 100%;
        background-color: $spot-color;
        position: absolute;
        left: 50px;
        top: 50px;
        z-index: -1;
        transition: 0.3s;
    }
    &:hover {
        &::before {
            background-color: $spot-secondary;
        }
    }
}

.text {
    max-width: 80%;
}

#colorWin {
    margin-top: 20px;
    h5 {
        color: #FFF;
    }
}

/* ------------------------ */


/* ------ FOOTER ------- */

footer {
    width: 100%;
    .minimize{
        font-size: 10.72px;
    }
}

/* ------------------------ */


/* ------ MEDIA QUERIES ------- */

@media only screen and (max-width: 600px) {
    .portrait {
        &::before {
            content: "";
            min-width: 100%;
            min-height: 100%;
            background-color: $spot-color;
            position: absolute;
            left: 10px;
            top: 50px;
            z-index: -1;
            transition: 0.3s;
        }
    }
}

/* ------------------------ */
